body{
    font-family: 'Roboto Slab', serif;
    background-color: #73877B;
}
.jumb{
    padding: 5px;
    background-color: #ACEDFF; 
}
#weather{
    margin-top: 0px;
    margin-bottom: 10%;
}
#pic{
    margin-top: 10%;
    width: 100px;
    height: 100px; 
}
.wi{
    margin-top: 5%;
    margin-bottom: 10%; 
    font-size: 70px;
}
.foot{
    margin-top: 2%;
}
a,a:link,a:visited
{
 color:lightblue;
 text-decoration:none; 
}
a, a:hover{
    color: ghostwhite;
    text-decoration: underline;
}